# How to Use the Notebook:

- Make sure you download it on your computer
- Set up the AWS credentials
- Your are in `us-east-2`
- Create a table `FlightBooking`. Make Sure that
  - Partition Key is `CustomerEmail`
  - Sorting Key is `BookingId`

In [3]:
import boto3

# DynamoDB table name
TABLE_NAME = 'FlightBooking2' 

# Initialize a DynamoDB session
dynamodb = boto3.resource('dynamodb', region_name='us-east-2')
table = dynamodb.Table(TABLE_NAME)

In [5]:

# Data to be inserted
data = [
    {"CustomerEmail": "john.doe@example.com", "BookingId": "BK1001", "FlightNumber": "FL1234", "Price": 450, "PassengerDetails": {"Name": "John Doe", "Age": 29, "Seat": "12A"}},
    {"CustomerEmail": "jane.smith@example.com", "BookingId": "BK1002", "FlightNumber": "FL1235", "Price": 550, "PassengerDetails": {"Name": "Jane Smith", "Age": 34, "Seat": "14C"}},
    {"CustomerEmail": "mike.jones@example.com", "BookingId": "BK1003", "FlightNumber": "FL1236", "Price": 375, "PassengerDetails": {"Name": "Mike Jones", "Age": 41, "Seat": "10D"}},
    {"CustomerEmail": "sarah.connor@example.com", "BookingId": "BK1004", "FlightNumber": "FL1237", "Price": 600, "PassengerDetails": {"Name": "Sarah Connor", "Age": 36, "Seat": "16F"}},
    {"CustomerEmail": "alex.murphy@example.com", "BookingId": "BK1005", "FlightNumber": "FL1238", "Price": 410, "PassengerDetails": {"Name": "Alex Murphy", "Age": 30, "Seat": "12B"}},
    {"CustomerEmail": "lisa.white@example.com", "BookingId": "BK1006", "FlightNumber": "FL1239", "Price": 480, "PassengerDetails": {"Name": "Lisa White", "Age": 28, "Seat": "15A"}},
    {"CustomerEmail": "tom.hanks@example.com", "BookingId": "BK1007", "FlightNumber": "FL1240", "Price": 520, "PassengerDetails": {"Name": "Tom Hanks", "Age": 45, "Seat": "11C"}},
    {"CustomerEmail": "emma.watson@example.com", "BookingId": "BK1008", "FlightNumber": "FL1241", "Price": 450, "PassengerDetails": {"Name": "Emma Watson", "Age": 31, "Seat": "14B"}},
    {"CustomerEmail": "chris.evans@example.com", "BookingId": "BK1009", "FlightNumber": "FL1242", "Price": 470, "PassengerDetails": {"Name": "Chris Evans", "Age": 37, "Seat": "13A"}},
    {"CustomerEmail": "natalie.portman@example.com", "BookingId": "BK1010", "FlightNumber": "FL1243", "Price": 505, "PassengerDetails": {"Name": "Natalie Portman", "Age": 39, "Seat": "17E"}},
    {"CustomerEmail": "natalie.portman@example.com", "BookingId": "BK1011", "FlightNumber": "FL1243", "Price": 505, "PassengerDetails": {"Name": "Natalie Portman", "Age": 39, "Seat": "17E"}},
    {"CustomerEmail": "john.doe@example.com", "BookingId": "BK1011", "FlightNumber": "FL1244", "Price": 460, "PassengerDetails": {"Name": "John Doe", "Age": 30, "Seat": "18B"}},
    {"CustomerEmail": "john.doe@example.com", "BookingId": "BK1012", "FlightNumber": "FL1245", "Price": 500, "PassengerDetails": {"Name": "John Doe", "Age": 29, "Seat": "19C"}}

]

# Function to batch write items
def batch_write(table, items):
    with table.batch_writer() as batch:
        for item in items:
            batch.put_item(Item=item)

# Insert the items
batch_write(table, data)

print("Data insertion complete.")

Data insertion complete.

# Basic Operations

In [6]:
# Put an Item

item = {
    "CustomerEmail": "jane.doe@example.com",
    "BookingId": "BK2002",
    "FlightNumber": "FL1254",
    "Price": 500,
    "PassengerDetails": {
        "Name": "Jane Doe",
        "Age": 32,
        "Seat": "15B"
    }
}

# Insert the item
response = table.put_item(Item=item)

In [8]:
# get an Item

from pprint import pprint # just print json better
key = {
    "CustomerEmail": "jane.doe@example.com",
    "BookingId": "BK2002"
}

# Retrieve the item
response = table.get_item(Key=key)

pprint(response['Item'])

{'BookingId': 'BK2002',
 'CustomerEmail': 'jane.doe@example.com',
 'FlightNumber': 'FL1254',
 'PassengerDetails': {'Age': Decimal('32'), 'Name': 'Jane Doe', 'Seat': '15B'},
 'Price': Decimal('500')}

In [9]:
# Define the primary key of the item to be updated
key = {
    "CustomerEmail": "jane.doe@example.com",
    "BookingId": "BK2002"
}

# Update the item
response = table.update_item(
    Key=key,
    UpdateExpression="SET FlightNumber = :fn, Price = :pr",
    ExpressionAttributeValues={
        ":fn": "FL1260",
        ":pr": 550
    },
    ReturnValues="UPDATED_NEW"
)

# get it again to see the changes, notice change in FlightNumber and Price value changed
response = table.get_item(Key=key)
pprint(response['Item'])

{'BookingId': 'BK2002',
 'CustomerEmail': 'jane.doe@example.com',
 'FlightNumber': 'FL1260',
 'PassengerDetails': {'Age': Decimal('32'), 'Name': 'Jane Doe', 'Seat': '15B'},
 'Price': Decimal('550')}

In [16]:
# Querying

import boto3

# Define the query parameters 
query_params = {
    'KeyConditionExpression': "CustomerEmail = :email",
    'ExpressionAttributeValues': {
        ':email': 'john.doe@example.com'
    }
}

# Perform the query
response = table.query(**query_params)

# Print the items returned by the query
pprint(response['Items'])

[{'BookingId': 'BK1001',
  'CustomerEmail': 'john.doe@example.com',
  'FlightNumber': 'FL1234',
  'PassengerDetails': {'Age': Decimal('29'), 'Name': 'John Doe', 'Seat': '12A'},
  'Price': Decimal('450')},
 {'BookingId': 'BK1011',
  'CustomerEmail': 'john.doe@example.com',
  'FlightNumber': 'FL1244',
  'PassengerDetails': {'Age': Decimal('30'), 'Name': 'John Doe', 'Seat': '18B'},
  'Price': Decimal('460')},
 {'BookingId': 'BK1012',
  'CustomerEmail': 'john.doe@example.com',
  'FlightNumber': 'FL1245',
  'PassengerDetails': {'Age': Decimal('29'), 'Name': 'John Doe', 'Seat': '19C'},
  'Price': Decimal('500')}]